{
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "semi": true
}
